.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

/* Navber design Stars here */

.nav-logo{
    text-align: left;

}

.nav-heding h1{
    text-align: right;
}

.navber-menu{
    flex-direction: row;
    justify-content: flex-end;

}

.navber-menu a{
    padding: 5px 10px;
}

.navber::after{
    padding: 5px 10px;
    margin: 20px 0;
    
}

/* Navber design Ends here */



/* Profile design Starts here */
.profile .Top-picture{
    right: 100px;
    width: 120px;
    transition: width 2s transform 2s;
}
.profile .Top-picture:hover{ 
   width: 140px;
}
.profile-desc p{
    color: gray;
    margin: 0 auto;
    width: 50px;
    text-align: center;
    margin-bottom: 10px;
}




.profile .bottom-Picture{
    border: 20px;
    left: 140px;
    width: 120px;
    transition: width 2s transform 2s;
}
.profile .bottom-Picture:hover{ 
   width: 140px;
}
/* Profile design Edns here */



